@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(225, 23%, 24%);
}

header {
  padding: 20px;
  margin-left: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  div {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    p {
      margin: 10px;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }

  ul {
    li {
      position: relative;
      margin: 8px;
    }
    li::after {
      position: absolute;
      content: " ";
      width: 0%;
      height: 2px;
      background-color: rgb(0, 132, 255);
      top: 100%;
      left: -0%;
      transition: all 0.1s ease-out;
    }
    li:hover::after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 2px;
      background-color: rgb(0, 132, 255);
      top: 100%;
      left: -0%;
      transition: all 0.2s ease;
    }

    display: flex;
    list-style: none;
  }
}
main {
  align-items: center;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;

  .imagem {
    background-image: url(imagens/perfil.png);
    width: 400px;
    height: 400px;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(3px 3px 9px rgba(6, 23, 171, 0.601));
  }

  strong {
    color: rgb(25, 112, 227);
  }
  .texto {
    h2 {
      color: white;
      font-size: 50px;
    }
    p {
      color: white;
      font-size: 20px;
      font-weight: 700;
    }
    .icons {
      i {
        margin: 10px;
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.197);
        color: white;
        padding: 5px;
        border-radius: 10px;
      }
      i:hover {
        transition: 0.6s ease-in-out;
        transform: scale(1.2);
      }
    }
  }
}
.second {
  display: flex;
  justify-content: space-evenly;
  .skills {
    width: 450px;
    height: 400px;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 30px;
      color: white;
      text-align: center;
      margin-bottom: 20px;
      padding: 30px;
    }
    i {
      font-size: 70px;
    }
  }
  .mim{
    width: 450px;
    height: 400px;
    h2{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
  }
  p{
    color: white;
  }
  width: auto;
  height: auto;
}
}
